@model IEnumerable<QAWebsiteProject.Models.Question>

<!DOCTYPE html>


<html class="html__responsive">

<head>

    <title>Newest &#39;javascript&#39; Questions - Stack Overflow</title>


    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d">
    <link rel="apple-touch-icon image_src" href="https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon.png?v=c78bd457575a">
    <link rel="search" type="application/opensearchdescription+xml" title="Stack Overflow" href="/opensearch.xml">

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stackoverflow.com/questions/tagged/javascript" />
    <meta property="og:site_name" content="Stack Overflow" />
    <meta property="og:image" itemprop="image primaryImageOfPage" content="https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon@2.png?v=73d79a89bded" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="stackoverflow.com" />
    <meta name="twitter:title" property="og:title" itemprop="name" content="Newest &#39;javascript&#39; Questions" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="Stack Overflow | The World’s Largest Online Community for Developers" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.sstatic.net/Js/stub.en.js?v=980e32a1f94d"></script>
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link href="@Url.Content("~/CssContent/QuestionsCSS.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=c6f00f5125d0">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=52950f67bc44">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/secondary.css?v=622725d327d3">


    <link rel="alternate" type="application/atom+xml" title="Newest javascript questions feed" href="/feeds/tag?tagnames=javascript&amp;sort=newest" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link href="@Url.Content("~/CssContent/QuestionsCSS.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>








    <script>
        StackExchange.init({ "locale": "en", "serverTime": 1573785871, "routeName": "Questions/ListByTag", "stackAuthUrl": "https://stackauth.com", "networkMetaHostname": "meta.stackexchange.com", "site": { "name": "Stack Overflow", "description": "Q&A for professional and enthusiast programmers", "isNoticesTabEnabled": true, "enableNewTagCreationWarning": true, "insertSpaceAfterNameTabCompletion": false, "id": 1, "childUrl": "https://meta.stackoverflow.com", "negativeVoteScoreFloor": null, "enableSocialMediaInSharePopup": true, "protocol": "https" }, "timingsGuid": "abf0dcd4-9f1a-4531-8a69-60762aebd87f", "timingsInfo": "KoR+ZXHvic1V4CtjwWHm9Bmqhwzgk5uQUVFlcW2szkafjYoSwSV30JWIKQ4wZMYAd3BQ4pKbFR9zfD4tHh/y4HHxmwv9mq1VWcHKYAadZ62OIQalZAKQ7gIYRL4PDJOThrzkAbVZdNvuuvgAdSbQ1HcoLmYHMIg1cOdSWsQzAk2XB7rW97kJIRt9oDxEWZxhdisaBBa7XUpVE752N/TwQsMaMwaH8F1y0PWEHklkWidgDxtElNO7SKdG2nzEhqKp", "user": { "fkey": "0665e3b0928f5ca3e0d2b005528d6f8559f0af856092ac7a979061f380167fe0", "tid": "022be8d5-9d81-ce84-506f-1fc535788d93", "rep": 0, "isAnonymous": true, "isAnonymousNetworkWide": true }, "events": { "postType": { "question": 1 }, "postEditionSection": { "title": 1, "body": 2, "tags": 3 } }, "story": { "minCompleteBodyLength": 75, "likedTagsMaxLength": 300, "dislikedTagsMaxLength": 300 }, "jobPreferences": { "maxNumDeveloperRoles": 2, "maxNumIndustries": 4 }, "svgIconPath": "https://cdn.sstatic.net/Img/svg-icons", "svgIconHash": "53fe1f91bb82" }, { "userProfile": { "openGraphAPIKey": "4a307e43-b625-49bb-af15-ffadf2bda017" }, "userMessaging": {}, "tags": {}, "snippets": { "snippetsEnabled": true, "renderDomain": "stacksnippets.net" }, "slack": { "sidebarAdDismissCookie": "slack-sidebar-ad" }, "site": { "allowImageUploads": true, "enableUserHovercards": true, "styleCode": true, "enableImgurHttps": true, "forceHttpsImages": true }, "questions": { "showPostNoticesV2": true }, "paths": {}, "monitoring": { "clientTimingsAbsoluteTimeout": 30000, "clientTimingsDebounceTimeout": 1000 }, "mentions": { "maxNumUsersInDropdown": 50 }, "markdown": { "asteriskIntraWordEmphasis": true }, "flags": { "allowRetractingFlags": true, "allowRetractingCommentFlags": true }, "comments": {}, "accounts": { "currentPasswordRequiredForChangingStackIdPassword": true } });
        StackExchange.using.setCacheBreakers({ "js/prettify-full.en.js": "472aa7832075", "js/moderator.en.js": "125735135d93", "js/full-anon.en.js": "120af462b9cb", "js/full.en.js": "73097e12db0b", "js/wmd.en.js": "a9795d4e7026", "js/mobile.en.js": "a168d277c579", "js/help.en.js": "bcaf279b6d04", "js/tageditor.en.js": "dabb31201e60", "js/tageditornew.en.js": "8cefc357d056", "js/inline-tag-editing.en.js": "d1d2968ef92d", "js/revisions.en.js": "055fbe1202e9", "js/review.en.js": "cdb07d95d638", "js/tagsuggestions.en.js": "9b2c5d9791d2", "js/post-validation.en.js": "54fe0dbc0849", "js/explore-qlist.en.js": "d046fe5d0680", "js/events.en.js": "2b13a85b97bb", "js/keyboard-shortcuts.en.js": "93ce774e43f9", "js/adops.en.js": "6b9883f0531e", "js/begin-edit-event.en.js": "8f05bb4ed432", "js/stacks-polyfills.en.js": "239588c6ad92", "js/ask.en.js": "43f1476c5dac", "js/question-editor.en.js": "", "js/snippet-javascript-codemirror.en.js": "af91136e6c51" });
        StackExchange.using("gps", function () {
            StackExchange.gps.init(true);
        });
    </script>
    <noscript id="noscript-css">
        <style>
            body, .top-bar {
                margin-top: 1.9em
            }
        </style>
    </noscript>
</head>
<body class="tagged-questions-page unified-theme">

    <div id="notify-container"></div>
    <div id="custom-header"></div>




    <header class="top-bar js-top-bar top-bar__network _fixed">
        <div class="wmx12 mx-auto grid ai-center h100" role="menubar">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">

                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>

            <ol class="list-reset grid gs4" role="presentation">
                <li class="grid--cell">
                    <a href="#"
                       class="-marketing-link js-gps-track js-products-menu"
                       aria-controls="products-popover"
                       data-controller="s-popover"
                       data-action="s-popover#toggle"
                       data-s-popover-placement="bottom"
                       data-gps-track="top_nav.products.click({location:5, destination:1})"
                       data-ga="[&quot;top navigation&quot;,&quot;products menu click&quot;,null,null,null]">
                        Products
                    </a>
                </li>

                <li class="grid--cell md:d-none">
                    <a href="/teams/customers" class="-marketing-link js-gps-track"
                       data-gps-track="top_nav.products.click({location:5, destination:7})"
                       data-ga="[&quot;top navigation&quot;,&quot;customers menu click&quot;,null,null,null]">Customers</a>
                </li>
                <li class="grid--cell md:d-none">
                    <a href="/teams/use-cases" class="-marketing-link js-gps-track"
                       data-gps-track="top_nav.products.click({location:5, destination:8})"
                       data-ga="[&quot;top navigation&quot;,&quot;use cases menu click&quot;,null,null,null]">Use cases</a>
                </li>
            </ol>
            <div class="s-popover ws2 p6"
                 id="products-popover"
                 role="menu"
                 aria-hidden="true">
                <div class="s-popover--arrow"></div>
                <ol class="list-reset s-anchors s-anchors__inherit">
                    <li>
                        <a href="/questions" class="d-block py6 px6 bar-sm h:bg-orange-500 h:fc-white js-gps-track"
                           data-gps-track="top_nav.products.click({location:5, destination:2})"
                           data-ga="[&quot;top navigation&quot;,&quot;public qa submenu click&quot;,null,null,null]">
                            <span class="fs-body1 d-block">Stack Overflow</span>
                            <span class="fs-caption d-block o70">Public questions and answers</span>
                        </a>
                    </li>
                    <li>
                        <a href="/teams" class="d-block py6 px6 bar-sm h:bg-orange-500 h:fc-white js-gps-track"
                           data-gps-track="top_nav.products.click({location:5, destination:3})"
                           data-ga="[&quot;top navigation&quot;,&quot;teams submenu click&quot;,null,null,null]">
                            <span class="fs-body1 d-block">Teams</span>
                            <span class="fs-caption d-block o70">Private questions and answers for your team</span>
                        </a>
                    </li>
                    <li>
                        <a href="/enterprise" class="d-block py6 px6 bar-sm h:bg-orange-500 h:fc-white js-gps-track"
                           data-gps-track="top_nav.products.click({location:5, destination:4})"
                           data-ga="[&quot;top navigation&quot;,&quot;enterprise submenu click&quot;,null,null,null]">
                            <span class="fs-body1 d-block">Enterprise</span>
                            <span class="fs-caption d-block o70">Private self-hosted questions and answers for your enterprise</span>
                        </a>
                    </li>
                    <li class="bt bc-black-3 mln6 mrn6 mt6 pt6 px6">
                        <a href="https://www.stackoverflowbusiness.com/talent" class="d-block py6 px6 bar-sm h:bg-orange-500 h:fc-white js-gps-track"
                           data-gps-track="top_nav.products.click({location:5, destination:5})"
                           data-ga="[&quot;top navigation&quot;,&quot;talent submenu click&quot;,null,null,null]">
                            <span class="fs-body1 d-block">Talent</span>
                            <span class="fs-caption d-block o70">Hire technical talent</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.stackoverflowbusiness.com/advertising" class="d-block py6 px6 bar-sm h:bg-orange-500 h:fc-white js-gps-track"
                           data-gps-track="top_nav.products.click({location:5, destination:6})"
                           data-ga="[&quot;top navigation&quot;,&quot;advertising submenu click&quot;,null,null,null]">
                            <span class="fs-body1 d-block">Advertising</span>
                            <span class="fs-caption d-block o70">Reach developers worldwide</span>
                        </a>
                    </li>

                </ol>
            </div>

            <form id="search" role="search" action=/search method="get" class="grid--cell fl-grow1 searchbar px12 js-searchbar " autocomplete="off">
                <div class="ps-relative">
                    <input name="q"
                           type="text"
                           placeholder="Search…"
                           value="[javascript]"
                           autocomplete="off"
                           maxlength="240"
                           class="s-input s-input__search js-search-field "
                           aria-label="Search"
                           aria-controls="top-search"
                           data-controller="s-popover"
                           data-action="focus->s-popover#show"
                           data-s-popover-placement="bottom-start" />
                    <svg aria-hidden="true" class="svg-icon s-input-icon s-input-icon__search iconSearch" width="18" height="18" viewBox="0 0 18 18"><path d="M18 16.5l-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0z" /></svg>
                    <div class="s-popover p0 wmx100 wmn4 sm:wmn-initial js-top-search-popover s-popover--arrow__tl" id="top-search" role="menu">
                        <div class="js-spinner p24 grid ai-center jc-center d-none">
                            <div class="s-spinner s-spinner__sm fc-orange-400">
                                <div class="v-visible-sr">Loading…</div>
                            </div>
                        </div>

                        <span class="v-visible-sr js-screen-reader-info"></span>
                        <div class="js-ac-results overflow-y-auto hmx3 d-none"></div>

                        <div class="js-search-hints" aria-describedby="Tips for searching"></div>
                    </div>
                </div>
            </form>





            <ol class="overflow-x-auto ml-auto -secondary grid ai-center list-reset h100 user-logged-out" role="presentation">
                <li class="-item searchbar-trigger"><a href="#" class="-link js-searchbar-trigger" role="button" aria-label="Search" aria-haspopup="true" aria-controls="search" title="Click to show search"><svg aria-hidden="true" class="svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18"><path d="M18 16.5l-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0z" /></svg></a></li>

                <li class="-ctas">
                    <a href="https://stackoverflow.com/users/login?ssrc=head&returnurl=https%3a%2f%2fstackoverflow.com%2fquestions%2ftagged%2fjavascript" class="login-link s-btn btn-topbar-clear py8 js-gps-track" rel="nofollow"
                       data-gps-track="login.click" data-ga="[&quot;top navigation&quot;,&quot;login button click&quot;,null,null,null]">Log in</a>
                    <a href="https://stackoverflow.com/users/signup?ssrc=head&returnurl=%2fusers%2fstory%2fcurrent" class="login-link s-btn s-btn__primary py8 btn-topbar-primary" rel="nofollow" data-ga="[&quot;sign up&quot;,&quot;Sign Up Navigation&quot;,&quot;Header&quot;,null,null]">Sign up</a>

                </li>

                <li class="js-topbar-dialog-corral" role="presentation">


                    <div class="topbar-dialog siteSwitcher-dialog dno" role="menu">
                        <div class="header">
                            <h3>
                                <a href="https://stackoverflow.com">current community</a>
                            </h3>
                        </div>
                        <div class="modal-content current-site-container">
                            <ul class="current-site">
                                <li class="grid">
                                    <div class="fl1">
                                        <a href="https://stackoverflow.com"
                                           class="current-site-link site-link js-gps-track grid gs8 gsx"
                                           data-id="1"
                                           data-gps-track="site_switcher.click({ item_type:3 })">
                                            <div class="favicon favicon-stackoverflow site-icon grid--cell" title="Stack Overflow"></div>
                                            <span class="grid--cell fl1">
                                                Stack Overflow
                                            </span>
                                        </a>

                                    </div>
                                    <div class="related-links">
                                        <a href="https://stackoverflow.com/help" class="js-gps-track" data-gps-track="site_switcher.click({ item_type:14 })">help</a>
                                        <a href="https://chat.stackoverflow.com" class="js-gps-track" data-gps-track="site_switcher.click({ item_type:6 })">chat</a>
                                    </div>

                                </li>
                                <li class="related-site grid">
                                    <div class="L-shaped-icon-container">
                                        <span class="L-shaped-icon"></span>
                                    </div>

                                    <a href="https://meta.stackoverflow.com"
                                       class="site-link js-gps-track grid gs8 gsx"
                                       data-id="552"
                                       data-gps-track="site.switch({ target_site:552, item_type:3 }),site_switcher.click({ item_type:4 })">
                                        <div class="favicon favicon-stackoverflowmeta site-icon grid--cell" title="Meta Stack Overflow"></div>
                                        <span class="grid--cell fl1">
                                            Meta Stack Overflow
                                        </span>
                                    </a>

                                </li>
                            </ul>
                        </div>

                        <div class="header" id="your-communities-header">
                            <h3>
                                your communities
                            </h3>

                        </div>
                        <div class="modal-content" id="your-communities-section">

                            <div class="call-to-login">
                                <a href="https://stackoverflow.com/users/signup?ssrc=site_switcher&amp;returnurl=%2fusers%2fstory%2fcurrent" class="login-link js-gps-track" data-gps-track="site_switcher.click({ item_type:10 })">Sign up</a> or <a href="https://stackoverflow.com/users/login?ssrc=site_switcher&amp;returnurl=https%3a%2f%2fstackoverflow.com%2fquestions%2ftagged%2fjavascript" class="login-link js-gps-track" data-gps-track="site_switcher.click({ item_type:11 })">log in</a> to customize your list.
                            </div>
                        </div>

                        <div class="header">
                            <h3>
                                <a href="https://stackexchange.com/sites">more stack exchange communities</a>
                            </h3>
                            <a href="https://stackoverflow.blog" class="fr">company blog</a>
                        </div>
                        <div class="modal-content">
                            <div class="child-content"></div>
                        </div>
                    </div>
                </li>
            </ol>

        </div>
    </header>
    <div id="js-gdpr-consent-banner" class="p16 bg-black-700 ff-sans fc-white ps-fixed b0 l0 r0 z-banner" role="banner" aria-hidden="false">
        <div class="wmx8 mx-auto grid jc-center" role="alertdialog" aria-describedby="notice-message">
            <div class="grid--cell mr12" aria-label="notice-message">
                <p class="mb0 lh-lg">
                    By using our site, you acknowledge that you have read and understand our <a class="s-link s-link__inherit td-underline fc-white" target="_blank" href="https://stackoverflow.com/legal/cookie-policy">Cookie Policy</a>, <a class="s-link s-link__inherit td-underline fc-white" target="_blank" href="https://stackoverflow.com/legal/privacy-policy">Privacy Policy</a>, and our <a class="s-link s-link__inherit td-underline fc-white" target="_blank" href="https://stackoverflow.com/legal/terms-of-service/public">Terms of Service</a>.
                </p>
            </div>
            <a class="grid--cell fc-white js-notice-close" aria-label="notice-dismiss">
                <svg aria-hidden="true" class="svg-icon m0 iconClear" width="18" height="18" viewBox="0 0 18 18"><path d="M15 4.41L13.59 3 9 7.59 4.41 3 3 4.41 7.59 9 3 13.59 4.41 15 9 10.41 13.59 15 15 13.59 10.41 9 15 4.41z" /></svg>
            </a>
        </div>
    </div>

    <script>
        StackExchange.ready(function () { StackExchange.topbar.init(); });
        StackExchange.scrollPadding.setPaddingTop(50, 10);</script>



    <div id="announcement-banner" class="js-announcement-banner bg-black-700 fc-white ff-sans fs-body2 py2" data-campaign="2019-11-13.rep-recalc-2019" data-cookie="notice-quv" data-expire-date="1574830740000">
        <div class="grid jc-space-between wmx12 mx-auto px16 py8 ">
            <div class="grid--cell mr12">
                We’re rewarding the question askers &amp; reputations are being recalculated! <a target="_blank"
                                                                                                 class="s-link js-link js-gps-track fw-bold fc-blue-400 " href="https://stackoverflow.blog/2019/11/13/were-rewarding-the-question-askers/" data-ga="[&quot;rep-recalc-2019&quot;,&quot;Announcement Banner&quot;,&quot;https://stackoverflow.blog/2019/11/13/were-rewarding-the-question-askers/&quot;,null,{&quot;dimension4&quot;:&quot;rep-recalc-2019&quot;}]"
                                                                                                 data-gps-track="announcement_banner.click({campaign: &#39;2019-11-13.rep-recalc-2019&#39;, location: 5, action: 2})">Read more</a>.
            </div>
            <a class="grid-cell fc-white js-dismiss js-gps-track" href="#" title="dismiss"
               data-gps-track="announcement_banner.click({campaign: &#39;2019-11-13.rep-recalc-2019&#39;, location: 5, action: 1})"><svg aria-hidden="true" class="svg-icon m0 iconClear" width="18" height="18" viewBox="0 0 18 18"><path d="M15 4.41L13.59 3 9 7.59 4.41 3 3 4.41 7.59 9 3 13.59 4.41 15 9 10.41 13.59 15 15 13.59 10.41 9 15 4.41z" /></svg></a>
        </div>
    </div>
    <script>
        StackExchange.ready(function () {
            StackExchange.Notice.announcementBannerInit();
        });
    </script>





    <div class="container">






        <div id="left-sidebar" data-is-here-when="md lg" class="left-sidebar js-pinned-left-sidebar">
            <div class="left-sidebar--sticky-container js-sticky-leftnav">
                <nav role="navigation">
                    <ol class="nav-links">
                        <li>
                            <a href="/"
                               class="pl8 js-gps-track nav-links--link"
                               data-gps-track="top_nav.click({is_current:false, location:5, destination:8})">
                                Home
                            </a>
                        </li>
                        <li>
                            <ol class="nav-links">
                                <li class="fs-fine tt-uppercase ml8 mt16 mb4 fc-light">Public</li>
                                <li class=" youarehere">
                                    <a id="nav-questions"
                                       href="/questions"
                                       class="pl8 js-gps-track nav-links--link -link__with-icon"
                                       data-gps-track="top_nav.click({is_current:true, location:5, destination:1})">
                                        <svg aria-hidden="true" class="svg-icon iconGlobe" width="18" height="18" viewBox="0 0 18 18"><path d="M9 1a8 8 0 1 0 0 16A8 8 0 0 0 9 1zM8 15.32a6.4 6.4 0 0 1-5.23-7.75L7 11.68v.8c0 .88.12 1.32 1 1.32v1.52zm5.72-2c-.2-.66-1-1.32-1.72-1.32h-1v-2c0-.44-.56-1-1-1H6V7h1c.44 0 1-.56 1-1V5h2c.88 0 1.4-.72 1.4-1.6v-.33a6.4 6.4 0 0 1 2.32 10.24v.01z" /></svg>                <span class="-link--channel-name">Stack Overflow</span>
                                    </a>
                                </li>

                                <li>
                                    <a id="nav-tags"
                                       href="/tags"
                                       class=" js-gps-track nav-links--link"
                                       data-gps-track="top_nav.click({is_current:false, location:5, destination:2})">
                                        Tags
                                    </a>
                                </li>
                                <li>
                                    <a id="nav-users"
                                       href="/users"
                                       class=" js-gps-track nav-links--link"
                                       data-gps-track="top_nav.click({is_current:false, location:5, destination:3})">
                                        Users
                                    </a>
                                </li>
                                <li>
                                    <a id="nav-jobs"
                                       href="/jobs?so_medium=StackOverflow&amp;so_source=SiteNav"
                                       class=" js-gps-track nav-links--link"
                                       data-gps-track="top_nav.click({is_current:false, location:5, destination:6})">
                                        Jobs
                                    </a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <ol class="nav-links">
                                <li class="grid ai-center jc-space-between ml8 mt24 mb4">
                                    <div class="grid--cell tt-uppercase fs-fine fc-light">Teams</div>
                                    <div class="grid--cell fs-fine fc-light mr4">
                                        <a href="javascript:void(0)" class="s-link s-link__inherit js-gps-track"
                                           role="button"
                                           aria-controls="popover-teams-create-cta"
                                           data-controller="s-popover"
                                           data-action="s-popover#toggle"
                                           data-s-popover-placement="bottom-start"
                                           data-s-popover-toggle-class="is-selected"
                                           data-gps-track="teams.create.left-sidenav.click({ Action: ShowInfo })"
                                           data-ga="[&quot;teams left navigation - anonymous&quot;,&quot;left nav show teams info&quot;,null,null,null]">
                                            What’s this?
                                        </a>

                                        <div class="s-popover w-auto p16"
                                             id="popover-teams-create-cta"
                                             role="menu"
                                             aria-hidden="true">
                                            <div class="s-popover--arrow"></div>

                                            <div class="ps-relative overflow-hidden">
                                                <p class="mb2"><strong>Teams</strong></p>
                                                <p class="mb16 fs-caption fc-medium">Q&amp;A for Work</p>
                                                <p class="mb8 fs-caption fc-medium">

                                                    Stack Overflow for Teams is a private, secure spot for you and
                                                    your coworkers to find and share information.

                                                </p>
                                                <a href="https://stackoverflow.com/teams"
                                                   class="js-gps-track ws-nowrap d-block"
                                                   data-gps-track="teams.create.left-sidenav.click({ Action: CtaClick })"
                                                   data-ga="[&quot;teams left navigation - anonymous&quot;,&quot;left nav cta&quot;,&quot;stackoverflow.com/teams&quot;,null,null]">
                                                    Learn more
                                                </a>
                                            </div>

                                            <div class="ps-absolute t8 r8">
                                                <svg width="53" height="49" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M49 11l.2 31H18.9L9 49v-7H4V8h31" fill="#CCEAFF" /><path d="M44.5 19v-.3l-.2-.1-18-13-.1-.1H.5v33h4V46l.8-.6 9.9-6.9h29.3V19z" stroke="#1060E1" stroke-miterlimit="10" /><path d="M31 2l6-1.5 7 2V38H14.9L5 45v-7H1V6h25l5-4z" fill="#fff" /><path d="M7 16.5h13m-13 6h14m-14 6h18" stroke="#1060E1" stroke-miterlimit="10" /><path d="M39 30a14 14 0 1 0 0-28 14 14 0 0 0 0 28z" fill="#FFB935" /><path d="M50.5 14a13.5 13.5 0 1 1-27 0 13.5 13.5 0 0 1 27 0z" stroke="#F48024" stroke-miterlimit="10" /><path d="M32.5 21.5v-8h9v8h-9zm2-9.5V9.3A2.5 2.5 0 0 1 37 6.8a2.5 2.5 0 0 1 2.5 2.5V12h-5zm2 3v2m1-2v2" stroke="#fff" stroke-miterlimit="10" /></svg>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ps-relative">
                                    <a href="https://stackoverflow.com/teams"
                                       class="pl8 js-gps-track nav-links--link"
                                       title="Stack Overflow for Teams is a private, secure spot for your organization's questions and answers."
                                       data-gps-track="teams.create.left-sidenav.click({ Action: TeamsClick })"
                                       data-ga="[&quot;teams left navigation - anonymous&quot;,&quot;left nav team click&quot;,&quot;stackoverflow.com/teams&quot;,null,null]">
                                        <div class="grid ai-center">
                                            <div class="grid--cell s-avatar va-middle bg-orange-400">
                                                <div class="s-avatar--letter mtn1">
                                                    <svg aria-hidden="true" class="svg-icon iconBriefcaseSm" width="14" height="14" viewBox="0 0 14 14"><path d="M4 3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h.5c.83 0 1.5.67 1.5 1.5v5c0 .83-.67 1.5-1.5 1.5h-7A1.5 1.5 0 0 1 2 10.5v-5C2 4.67 2.67 4 3.5 4H4V3zm5 1V3H5v1h4z" /></svg>
                                                </div>
                                                <svg aria-hidden="true" class="svg-icon native s-avatar--badge iconShieldXSm" width="9" height="10" viewBox="0 0 9 10"><path d="M0 1.84L4.5 0 9 1.84v3.17C9 7.53 6.3 10 4.5 10 2.7 10 0 7.53 0 5.01V1.84z" fill="#fff" /><path d="M1 2.5L4.5 1 8 2.5v2.51C8 7.34 5.34 9 4.5 9 3.65 9 1 7.34 1 5.01V2.5zm2.98 3.02L3.2 7h2.6l-.78-1.48a.4.4 0 0 1 .15-.38c.34-.24.73-.7.73-1.14 0-.71-.5-1.23-1.41-1.23-.92 0-1.39.52-1.39 1.23 0 .44.4.9.73 1.14.12.08.18.23.15.38z" fill="#6A7E7C" /></svg>
                                            </div>
                                            <div class="grid--cell pl6 js-create-team-btn-with-tooltip">
                                                First 25 Users Free
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </nav>
            </div>

        </div>


        <div id="content" class="snippet-hidden">




            <div id="mainbar">


                <div class="grid">
                    <div class="grid fl1 mb24">
                        <h1 class="grid--cell fs-headline1 mb0">
                            All Questions
                        </h1>
                    </div>

                    <div class="ml12 aside-cta grid--cell print:d-none">

                        <a>
                            @Html.ActionLink("Ask New Question", "Create")
                        </a>

                    </div>
                </div>

                


                <script>
                    StackExchange.ready(function () {
                        initTagRenderer("".split(" "), "".split(" "));
                        StackExchange.userQuestionList.init({
                            sharingUrl: ""
                        });
                    });
                </script>
                <div data-controller="se-uql" data-se-uql-id="" data-se-uql-sanitize-tag-query="false">
                    <div class="grid ai-center jc-space-between mb12 sm:fd-column sm:ai-stretch">
                        <div class="fs-body3 grid--cell fl1 mr12 sm:mr0 sm:mb12">
                            1,901,668

                            questions
                        </div>

                        <div class="uql-nav grid--cell"
                             data-action="se-uql-list:edit-current-requested@document->se-uql#toggleEditor">
                            <div class="grid ai-center jc-space-between">
                                <div class="js-uql-navigation s-btn-group grid--cell mr16 ff-row-nowrap">
                                    <a class="s-btn s-btn__muted s-btn__outlined s-btn__sm grid d-flex is-selected" data-nav-value="Newest" href="/questions/tagged/javascript?tab=Newest" data-shortcut="N">
                                        <div class="grid--cell">Newest</div>
                                    </a>
                                    <a class="s-btn s-btn__muted s-btn__outlined s-btn__sm grid d-flex" data-nav-value="Active" href="/questions/tagged/javascript?tab=Active" data-shortcut="A">
                                        <div class="grid--cell">Active</div>
                                    </a>
                                    <a class="s-btn s-btn__muted s-btn__outlined s-btn__sm grid d-flex uql-nav--expanded-item" data-nav-value="Bounties" href="/questions/tagged/javascript?tab=Bounties" data-shortcut="E">
                                        <div class="grid--cell">Bountied</div>
                                        <div class="s-badge s-badge__bounty s-badge__mini lh-xs ml4 px4 grid--cell">39</div>
                                    </a>
                                    <a class="s-btn s-btn__muted s-btn__outlined s-btn__sm grid d-flex uql-nav--expanded-item" data-nav-value="Unanswered" href="/questions/tagged/javascript?tab=Unanswered" data-shortcut="U">
                                        <div class="grid--cell">Unanswered</div>
                                    </a>
                                    <button class="s-btn s-btn__muted s-btn__outlined s-btn__sm s-btn__dropdown"
                                            role="button"
                                            data-controller="s-popover"
                                            data-action="s-popover#toggle"
                                            data-target="se-uql.toggleMoreButton"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                            aria-controls="uql-more-popover">
                                        More
                                    </button>
                                </div>


                                <div class="s-popover z-dropdown ws2"
                                     id="uql-more-popover"
                                     data-target="se-uql.morePopover">
                                    <div class="s-popover--arrow"></div>
                                    <ul class="list-reset mtn8 mbn8 js-uql-navigation">
                                        <li class="uql-item my0 uql-nav--collapsed-item">
                                            <a href="/questions/tagged/javascript?tab=Bounties" class="mln12 mrn12 px12 py6 fl1 s-block-link" data-shortcut="">
                                                Bountied
                                                <span class="s-badge s-badge__bounty s-badge__mini lh-xs px4">39</span>
                                            </a>
                                        </li>
                                        <li class="uql-item my0 uql-nav--collapsed-item">
                                            <a href="/questions/tagged/javascript?tab=Unanswered" class="mln12 mrn12 px12 py6 fl1 s-block-link" data-shortcut="">
                                                Unanswered
                                            </a>
                                        </li>
                                        <li class="uql-item my0">
                                            <a href="/questions/tagged/javascript?tab=Frequent" class="mln12 mrn12 px12 py6 fl1 s-block-link" data-shortcut="F">
                                                Frequent
                                            </a>
                                        </li>
                                        <li class="uql-item my0">
                                            <a href="/questions/tagged/javascript?tab=Votes" class="mln12 mrn12 px12 py6 fl1 s-block-link" data-shortcut="V">
                                                Votes
                                            </a>
                                        </li>
                                        <li class="uql-item uql-item__separator"></li>
                                        <li class="uql-item my0">
                                            <span class="s-block-link c-default fc-black-100 mrn12 px12 py6">Unanswered (my tags)</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="grid--cell">
                                    <button class="s-btn s-btn__filled s-btn__sm s-btn__icon ws-nowrap"
                                            role="button"
                                            data-controller="s-expandable-control"
                                            data-s-expandable-control-toggle-class="is-selected"
                                            data-target="se-uql.toggleFormButton"
                                            aria-expanded="false"
                                            aria-controls="uql-form">
                                        <svg aria-hidden="true" class="svg-icon sm:d-none va-middle iconGearSm" width="14" height="14" viewBox="0 0 14 14"><path d="M8.17 11.42l-.39 1.53a6.07 6.07 0 0 1-1.58 0l-.39-1.53c-.39-.1-.75-.26-1.1-.46l-1.35.8c-.42-.31-.8-.69-1.12-1.1l.8-1.37c-.2-.34-.35-.7-.46-1.1L1.05 7.8a6.06 6.06 0 0 1 0-1.57l1.53-.4c.1-.4.25-.76.45-1.11l-.8-1.36c.32-.42.7-.8 1.1-1.11l1.36.8c.35-.2.73-.36 1.13-.47l.4-1.53a6.06 6.06 0 0 1 1.55 0l.4 1.53c.4.1.78.26 1.13.47l1.36-.8c.41.31.78.68 1.1 1.1l-.8 1.36c.2.35.36.73.46 1.13l1.53.39a6.06 6.06 0 0 1 0 1.57l-1.53.39c-.1.4-.27.77-.47 1.11l.8 1.36c-.32.42-.7.8-1.11 1.11l-1.36-.8c-.34.2-.71.35-1.1.45zM7 9a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" /></svg> Filter
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>

                    <form class="s-expandable ps-relative z-active"
                          id="uql-form"
                          data-target="se-uql.form"
                          data-action="se-uql#navigate">
                        <input name="uqlId" type="hidden" />
                        <div class="s-expandable--content">
                            <div class="bg-black-050 ba bc-black-3 bar-sm mb16">
                                <div class="px12 py16">
                                    <div class="grid gs32 fw-wrap">
                                        <div class="grid--cell">
                                            <fieldset class="grid gs8 gsy fd-column">
                                                <legend class="grid--cell s-label px0">Filter by</legend>
                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-checkbox d-block"
                                                                   type="checkbox"
                                                                   name="filterId"
                                                                   value="NoAnswers"
                                                                   id="f9b47d50-4f08-4495-a456-218d78997f01" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="f9b47d50-4f08-4495-a456-218d78997f01">No answers</label>
                                                    </div>
                                                </div>
                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-checkbox d-block"
                                                                   type="checkbox"
                                                                   name="filterId"
                                                                   value="NoAcceptedAnswer"
                                                                   id="c74fbf52-0c10-4fda-ae43-c67243d0bdf0" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="c74fbf52-0c10-4fda-ae43-c67243d0bdf0">No accepted answer</label>
                                                    </div>
                                                </div>
                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-checkbox d-block"
                                                                   type="checkbox"
                                                                   name="filterId"
                                                                   value="Bounty"
                                                                   id="020d285a-5e9a-499f-ba03-75aa1aea6918" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="020d285a-5e9a-499f-ba03-75aa1aea6918">Has bounty</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="grid--cell">
                                            <fieldset class="grid gs8 gsy fd-column">
                                                <legend class="grid--cell s-label px0">Sorted by</legend>
                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-radio d-block"
                                                                   type="radio"
                                                                   name="sortId"
                                                                   value="Newest"
                                                                   checked="checked"
                                                                   id="f37bb2cd-5bfa-42ac-9f2a-4cbd47864c82" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="f37bb2cd-5bfa-42ac-9f2a-4cbd47864c82">Newest</label>
                                                    </div>
                                                </div>
                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-radio d-block"
                                                                   type="radio"
                                                                   name="sortId"
                                                                   value="RecentActivity"
                                                                   id="03904299-c470-492d-8cdb-f51b5f84ddde" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="03904299-c470-492d-8cdb-f51b5f84ddde">Recent activity</label>
                                                    </div>
                                                </div>
                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-radio d-block"
                                                                   type="radio"
                                                                   name="sortId"
                                                                   value="MostVotes"
                                                                   id="7eebd4ce-9909-4ece-93ad-6246003774b5" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="7eebd4ce-9909-4ece-93ad-6246003774b5">Most votes</label>
                                                    </div>
                                                </div>
                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-radio d-block"
                                                                   type="radio"
                                                                   name="sortId"
                                                                   value="MostFrequent"
                                                                   id="57928669-b7ba-477b-a6cd-854a2c13837b" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="57928669-b7ba-477b-a6cd-854a2c13837b">Most frequent</label>
                                                    </div>
                                                </div>
                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-radio d-block"
                                                                   type="radio"
                                                                   name="sortId"
                                                                   value="BountyEndingSoon"
                                                                   id="d8f5bf97-f767-4d18-9690-3a71e0ee96b3" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="d8f5bf97-f767-4d18-9690-3a71e0ee96b3">Bounty ending soon</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="grid--cell">
                                            <fieldset class="grid gs8 gsy fd-column">
                                                <legend class="grid--cell s-label px0">Tagged with</legend>
                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-radio d-block"
                                                                   type="radio"
                                                                   name="tagModeId"
                                                                   value="Watched"
                                                                   id="2e859d88-ceb4-442d-850d-94f1ed903570" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="2e859d88-ceb4-442d-850d-94f1ed903570">My watched tags</label>
                                                    </div>
                                                </div>

                                                <div class="grid--cell">
                                                    <div class="grid gs4 gsx ai-center">
                                                        <div class="grid--cell">
                                                            <input class="s-radio d-block"
                                                                   type="radio"
                                                                   name="tagModeId"
                                                                   value="Specified"
                                                                   checked="checked"
                                                                   id="156c6572-8db6-41a9-906f-3303704a85b9" />
                                                        </div>
                                                        <label class="grid--cell s-label fw-normal ws-nowrap" for="156c6572-8db6-41a9-906f-3303704a85b9">The following tags:</label>
                                                    </div>
                                                </div>

                                            </fieldset>
                                            <div class="ps-relative ml24 mt8 ws2">
                                                <input id="uql-modal-tag-input" class="w100 s-input" name="tagQuery" data-target="se-uql.tagQuery" type="text" size="60" tabindex="0" placeholder="e.g. javascript or java" value="javascript">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p12 bt bc-black-3">
                                    <div class="grid">
                                        <div class="grid gs4 gsx fl1">
                                            <button class="s-btn s-btn__sm s-btn__primary grid--cell" type="submit" data-target="se-uql.applyButton">Apply filter</button>
                                        </div>
                                        <div class="grid--cell">
                                            <button class="s-btn s-btn__sm" data-action="se-uql#cancelEditor" type="button">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <table id="table" class="display">
                    <thead>
                        <tr>
                            <th>

                            </th>

                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    <b>Title: </b>
                                    @Html.ActionLink(item.Title, "Details", "Questions", new { id = item.QuestionID }, null)
                                </td>
                                <td>
                                    <b>Question: </b>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    <b>Date Posted: </b>
                                    @Html.DisplayFor(modelItem => item.DatePosted)
                                </td>
                                <td>
                                    <b>User: </b>
                                    @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                                </td>
                                <td>
                                    @foreach (var tags in item.QuestionTags)
                                    {
                                        <div>
                                            Tags: <button>
                                                @Html.ActionLink(tags.Tag.Title, "Details", "QuestionTags", new { id = item.QuestionID }, null)
                                            </button>

                                        </div>
                                    }
                                </td>
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |*@
                                    @Html.ActionLink("Answer this Question", "Details", new { id = item.QuestionID })
                                    @Html.ActionLink("Add Comments", "Create", "Comments", new { id = item.QuestionID })
                                </td>
                            </tr>
                        }


                    </tbody>
                   <tfoot>
                        <tr>
                            <th>

                            </th>

                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                   </tfoot>
                </table>
                <script>
                    $(document).ready(function () {
                        $("#table").DataTable();

                    });</script>

                
            </div>
            

        </div>
    </div>


    <script>; try { (function (a) { function b(a) { return 'string' == typeof a ? document.getElementById(a) : a } function c(a) { return a = b(a), !!a && 'none' === getComputedStyle(a).display } function d(a) { return !c(a) } function e(a) { return !!a } function f(a) { return /^\s*$/.test(b(a).innerHTML) } function g(a) { var b = a.style; b.height = b.maxHeight = b.minHeight = 'auto', b.display = 'none', [].forEach.call(a.children, g) } function h(a, b) { var c; return function () { return a && (c = a.call(b || this, arguments), a = null), c } } function i(a) { var b = document.createElement('script'); b.src = a, document.body.appendChild(b) } function j(a) { return k([], a) } function k(a, b) { return a.push = function (a) { return b(), delete this.push, this.push(a) }, a } function l() { try { return !new Function('return async()=>{};') } catch (a) { return !0 } } function m() { return 'undefined' != typeof googletag && !!googletag.apiReady } function n() { m() || (googletag = { cmd: j(A) }) } function o() { var a = document.createElement('div'); a.className = 'adsbox', a.id = 'clc-abd', a.style.position = 'absolute', a.style.pointerEvents = 'none', a.innerHTML = '&nbsp;', document.body.appendChild(a) } function p(a) { var b = a.serviceName, c = a.slot, d = a.lineItemId; try { var e = c.getSlotElementId(), f = []; e || f.push('id=0'); var h = document.getElementById(e); if (!e || h ? h.hasAttribute('data-clc-stalled') && f.push('st=1') : f.push('el=0'), 0 !== f.length) return void B(f.join('&')); if (-1 !== x.dh.indexOf(d)) g(h); else if (d && (h.setAttribute('data-clc-prefilled', 'true'), 'dfp-msb' == e)) { var i = document.getElementById('hireme'); g(i) } h.setAttribute('data-clc-ready', 'true') } catch (a) { var j = document.querySelector('#dfp-tsb, #dfp-isb, #clc-tsb'); j && j.setAttribute('data-clc-ready', 'true'), B('e=1') } } function q() { return Object.keys(F.ids) } function r(a) { var b = F.ids[a], c = F.slots[b]; 'function' == typeof c && (c = c(a)); return { path: '/' + C + '/' + E + '/' + b + '/' + D, sizes: c, zone: b } } function s(a) { return !(clc.collapse && void 0 !== clc.collapse[a]) || !!clc.collapse[a] } function t(a, b) { 'dfp-isb' === a && b.setTargeting('Sidebar', ['Inline']), 'dfp-tsb' === a && b.setTargeting('Sidebar', ['Right']); var c = r(a), d = c.path, e = c.sizes, f = c.zone, g = googletag.defineSlot(d, e, a); s(f) && g.setCollapseEmptyDiv(!0, !0), g.addService(b), !1 } function u(b) { var c = a.dfp && a.dfp.targeting || {}; Object.keys(c).forEach(function (a) { b.setTargeting(a, c[a]) }) } function v(a) { var g = a.map(b).filter(e); return { eligible: g.filter(f).filter(d), ineligible: g.filter(c) } } function w(b) { if (void 0 === b && (b = q()), !m()) return n(), void googletag.cmd.push(function () { return w(b) }); var c = v(b), d = c.eligible, e = c.ineligible; if (e.forEach(g), 0 !== d.length) { x.abd && o(), googletag.destroySlots(); var f = googletag.pubads(); x.sf && (f.setForceSafeFrame(!0), f.setSafeFrameConfig({ allowOverlayExpansion: !0, allowPushExpansion: !0, sandbox: !0 })), f.enableSingleRequest(), a.sreEvent || (f.addEventListener('slotRenderEnded', p), a.sreEvent = !0), u(f), d.forEach(function (a) { t(a.id, f), a.setAttribute('data-dfp-zone', 'true') }), googletag.enableServices(), d.forEach(function (a) { googletag.display(a.id) }) } } var x = function (a) { for (var b = [], c = 1; c < arguments.length; c++)b[c - 1] = arguments[c]; for (var d, e = 0, f = b; e < f.length; e++)for (var g in d = f[e], d) a[g] = d[g]; return a }({ "lib": "https://cdn.sstatic.net/clc/clc.min.js?v=b34823b15e14", "style": "https://cdn.sstatic.net/clc/styles/clc.min.css?v=aab7c1365319", "u": "https://clc.stackoverflow.com/markup.js", "wa": true, "kt": 2000, "tto": true, "h": "clc.stackoverflow.com", "allowed": "^(((talent\\.)?stackoverflow)|(blog\\.codinghorror)|(serverfault|askubuntu)|([^\\.]+\\.stackexchange))\\.com$", "wv": true, "al": false, "dh": [5171832659], "abd": true }, a.options || {}), y = h(function () { var a = x.lib; l() && (a = a.replace(/(\.min)?\.js(\?v=[0-9a-fA-F]+)?$/, '.ie$1.js$2')), i(a) }), z = a.cmd || []; Array.isArray(z) && (0 < z.length ? y() : k(z, y)); var A = h(function () { i('https://www.googletagservices.com/tag/js/gpt.js') }), B = function (a) { new Image().src = 'https://' + x.h + '/stalled.gif?' + a }, C = '248424177', D = /^\/tags\//.test(location.pathname) || /^\/questions\/tagged\//.test(location.pathname) ? 'tag-pages' : /^\/$/.test(location.pathname) || /^\/home/.test(location.pathname) ? 'home-page' : 'question-pages', E = location.hostname; var F = { slots: { lb: [[728, 90]], mlb: [[728, 90]], smlb: [[728, 90]], bmlb: [[728, 90]], sb: function (a) { return 'dfp-tsb' === a ? [[300, 250], [300, 600]] : [[300, 250]] }, "tag-sponsorship": [[730, 135]], "mobile-below-question": [[320, 50], [300, 250]], msb: [[300, 250], [300, 600]] }, ids: { "dfp-tlb": 'lb', "dfp-mlb": 'mlb', "dfp-smlb": 'smlb', "dfp-bmlb": 'bmlb', "dfp-tsb": 'sb', "dfp-isb": 'sb', "dfp-tag": 'tag-sponsorship', "dfp-msb": 'msb', "dfp-m-aq": 'mobile-below-question', "clc-tlb": 'lb', "clc-mlb": 'mlb', "clc-tsb": 'sb' } }; (function () { var b = x.al; b && z.push(function () { return a.load() }) })(), n(), a.dfp = { load: w }, a.options = x, a.cmd = z })(this.clc = this.clc || {}) } catch (a) { window.console.error(a) }</script>
    <script>
        var clc = clc || {};
        clc.collapse = { sb: !0, 'tag-sponsorship': !0, lb: !0, mlb: !0, smlb: !0, bmlb: !0, 'mobile-below-question': !0 };
        clc.options = clc.options || {};
        clc.options.sf = !0;
        clc.options.hb = !1;
        clc.cmd = clc.cmd || [];
        clc.cmd.push(function () { window.clc_request = 'Ao5M_L11adcIAAAAAAAAAAACAAAAAQAAAAAMAAAAfGphdmFzY3JpcHR8AMsJO4CKO3elHlk'; clc.load(); });
        clc.dfp = clc.dfp || {};
        clc.dfp.targeting = { Registered: ['false'], 'so-tag': ['javascript'], 'tag-reportable': ['javascript'], 'tag-non-reportable': ['javascript'] };
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        googletag.cmd.push(function () { clc.dfp.load(); });

/**/</script>

    <script>StackExchange.ready(function () { StackExchange.responsiveness.addSwitcher(); })</script>
    <noscript>
        <div id="noscript-warning">
            Stack Overflow works best with JavaScript enabled
            <img src="https://pixel.quantserve.com/pixel/p-c1rF4kxgLUzNc.gif" alt="" class="dno">
        </div>
    </noscript>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    StackExchange.ready(function () {

        StackExchange.ga.init({
            sendTitles: true,
            tracker: window.ga,
            trackingCodes: [
                'UA-108242619-1'
            ],
        });



        StackExchange.ga.setDimension('dimension2', '|javascript|');

        StackExchange.ga.setDimension('dimension3', 'Questions/ListByTag');


        StackExchange.ga.trackPageView();
    });

    /**/

    var _qevents = _qevents || [],
        _comscore = _comscore || [];
    (function () {
        var ssl = 'https:' == document.location.protocol,
            s = document.getElementsByTagName('script')[0],
            qc = document.createElement('script');
        qc.async = true;
        qc.src = (ssl ? 'https://secure' : 'http://edge') + '.quantserve.com/quant.js';
        s.parentNode.insertBefore(qc, s);
        _qevents.push({ qacct: "p-c1rF4kxgLUzNc" });
        /**/
        var sc = document.createElement('script');
        sc.async = true;
        sc.src = (ssl ? 'https://sb' : 'http://b') + '.scorecardresearch.com/beacon.js';
        s.parentNode.insertBefore(sc, s);
        _comscore.push({ c1: "2", c2: "17440561" });
    })();


    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
