@model IEnumerable<QAWebsiteProject.Models.Question>


@{
    ViewBag.Title = "Index";
}


<h2><b>INTERROGATORY</b></h2>


<div class="ml12 aside-cta grid--cell print:d-none">

    <a>
        @Html.ActionLink("Ask New Question", "Create")
    </a>

</div>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QAHomePage</title>

    @Scripts.Render("~/bundles/jquery")
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">*@
    <link href="@Url.Content("~/CssContent/QuestionsCSS.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {
            height: 1500px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */

    </style>
</head>
<body class="col-md-12 ftco-animate">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("QA Website", "AllQuestions", "Questions", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "AllQuestions", "Questions")</li>
                    <li>@Html.ActionLink("Tags", "ListOfTags", "Tags")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>

    @Html.ActionLink("Newest", "HomePage", new { sortOrder = ViewBag.DateSort }) |
    @Html.ActionLink("Popular", "HomePage", new { sortOrder = ViewBag.MostAnsSort }) |
    @Html.ActionLink("Last 24 hours", "HomePage", new { sortOrder = ViewBag.Today })


    <table id="table" class="display">
        <thead>
            <tr>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <b>
                        Vote:
                    </b>
                    <br />
                    <a href="#" onclick="upvote();">^</a><h2 id="hVote"></h2><a href="#" onclick="downvote();">v</a>
                </td>
                <td>
                    <b>Title: </b>
                    @Html.ActionLink(item.Title, "Details", "Questions", new { id = item.QuestionID }, null)
                </td>
                <td>
                    <b>Question: </b>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <b>Date Posted: </b>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                <td>
                    <b>User: </b>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                </td>
                <td>
                    @foreach (var tags in item.QuestionTags)
                    {
                        <div>
                            Tags: <button>
                                @Html.ActionLink(tags.Tag.Title, "Details", "QuestionTags", new { id = item.QuestionID }, null)
                            </button>

                        </div>
                    }
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |*@
                    @Html.ActionLink("Answer this Question", "Details", new { id = item.QuestionID })
                    @Html.ActionLink("Add Answer", "Create", "Answers", new { id = item.QuestionID })
                </td>
            </tr>
            }


        </tbody>
    </table>

    <script>
        var vote = 0;
        function upvote() {
            vote++;
            $("#hdnvalue").val(vote);
            $("#hVote").html(vote);
        }
        function downvote() {
            vote--;
            $("#hdnvalue").val(vote);
            $("#hVote").html(vote);
        }
        function CheckQuestion() {
            if ($("#txtQuestion").val() === '') {
                alert("Please enter Question");
                return false;
            }
            if (vote === 0) {
                alert("Please vote before submitting");
                return false;
            }
            return true;
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#table").DataTable();

        });</script>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


