@model IEnumerable<QAWebsiteProject.Models.Tag>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Add Tag", "Create")
</p>
<h2><b>Tags</b></h2>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TagList</title>

    @Scripts.Render("~/bundles/jquery")
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">*@
    <link href="@Url.Content("~/CssContent/QuestionsCSS.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

</head>
<body class="col-md-12 ftco-animate">
    /
    <table id="table" class="display">
        <thead>
            <tr>
                <th>

                </th>



                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <b>Title: </b>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.QuestionID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.QuestionID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.QuestionID }) |

                    </td>
                </tr>
            }


        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $("#table").DataTable();

        });</script>
</body>
</html>

